@model Chatingweb.WebChatDataEDMX.UserAccountLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailLoginAccount</title>
    <link href="~/Areas/Admin/DetailPageCss.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h4>UserAccountLogin</h4>
        <hr />
        </div>
    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" />
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            @Html.DisplayFor(model => model.UserName)
                        </h5>
                        <h6>
                        </h6>
                        <p class="proile-rating">Location : <span>@Html.DisplayFor(model => model.UserLoginDate)</span></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">@Html.ActionLink("Back to List", "Index")</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    @*<input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />*@
                    <div class="row">
                        <div>
                            <label>Ragister Date</label>
                        </div>
                        <div>
                            <p> @Html.DisplayFor(model => model.UserRagisterDate)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @*<div class="col-md-4">
                    <div class="profile-work">
                        <p>WORK LINK</p>
                        <a href="">Website Link</a><br />
                        <a href="">Bootsnipp Profile</a><br />
                        <a href="">Bootply Profile</a>
                        <p>SKILLS</p>
                        <a href="">Web Designer</a><br />
                        <a href="">Web Developer</a><br />
                        <a href="">WordPress</a><br />
                        <a href="">WooCommerce</a><br />
                        <a href="">PHP, .Net</a><br />
                    </div>
                </div>*@
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>UserID</label>
                                </div>
                                <div class="col-md-6">
                                    <p> @Html.DisplayFor(model => model.LoginId)</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Html.DisplayFor(model => model.UserName)</p>
                                </div>
                            </div>
                            @*<div class="row">
                                    <div class="col-md-6">
                                        <label>Owner Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Html.DisplayFor(model => model.OwnerName)</p>
                                    </div>
                                </div>*@
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email/UserID</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Html.DisplayFor(model => model.UserEmail)</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Password</label>
                                </div>
                                <div class="col-md-6">
                                    <p> @Html.DisplayFor(model => model.UserPassword)</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Html.DisplayFor(model => model.UserMobile)</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>First Login Date</label>
                                </div>
                                <div class="col-md-6">
                                    <p> @Html.DisplayFor(model => model.UserLoginDate)</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Last Time Login</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Html.DisplayFor(model => model.UserLastLoginDate)</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Ragister Status</label>
                                </div>
                                <div class="col-md-6">
                                    <p> @Html.DisplayFor(model => model.RagisterStatus)</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Login Status</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Html.DisplayFor(model => model.Loginstatus)</p>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
